a {
    color: #007bff;
    text-decoration: none;
}

body {
    background-image: url('fundobg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

